$bodyColor: #161616;
$mainSecColor: #edf1fd;
$navColor: #F4F7FF;
$navTextColor: #6c707c;
$logoColor: #292929;

$linkHover: #292929;
$linkText: #fff;

$myNameText: #6c707c;
$fullNameColor: #292929;
$firstNameColor: #17d1ac;

$cvButtonColor: #292929;
$cvButtonTextColor: #fff;
$cvButtonHoverColor: #131313;

$arrowBorderColor: #292929;

$socialColor: rgba(18, 17 ,17, 0.40);
$socialHoverColor: #17d1ac;

$aboutMeColor: #161616;
$aboutH1TextColor: #17d1ac;
$aboutH2TextColor: #FFF;
$aboutButtonTextColor: #fff;
$aboutButtonHoverTextColor: #161616;
$aboutDetailTextColor: rgba(255,255,255,0.90);
$viewButtonColor: #17d1ac;
$viewButtonHoverColor: #fff;

$serviceHeadingTextColor: #fff;
$serviceParaTextColor: rgba(255,255,255,0.30);
$serviceBoxCOlor: #2B2B2B;
$serviceBoxShadow: 2px 2px 12px rgba(0,0,0,0.1);
$boxColor: #1E1E1E;
$boxTextColor: #fff;
$boxTextHoverColor: rgba(255,255,255,0.50);
$serviceTypeTextColor: #fff;
$serviceTypeColor: #151515;
$seviceTypeBoxShadow: 2px 2px 12px rgba(0,0,0,0.2);

$workHeadingTextColor: #fff;
$workHeadingColor: #292929;
$workHeadingBoxShadow: 2px 2px 20px rgba(0,0,0,0.1);
$workBoxColor: #1F1F1F;
$workBoxShadow: 2px 2px 13px rgba(0,0,0,0.3);
$overlayTextColor: rgba(162, 153, 201, 0.8);
$overlayH1PtextColor: #fff;

$contactColor: #F4F7FF;
$contactBoxShadowColor: 2px 0px 20px rgba(0,0,0,0.4);
$contactHeadingTextColor: #1E1E1E;

$buttonTextColor: #FFFFFF;
$buttonColor: #1E1E1E;
$buttonShadowColor: 2px 5px 6px rgba(0,0,0,0.2);
$buttonHoverColor: #17d1ac;
$buttonHoverTextColor: #000000;

$contactFormColor: #1A1A1A;
$contactFormBorderColor: 1px solid rgba(255,255,255,0.01);
$contactFormBoxShadow: 2px 12px 20px rgba(0,0,0,0.2);
$contactFormRightBorder: 1px solid rgba(255,255,255,0.08);
$contactFormButton: #1ED98B;
$contactFormButtonColor: #1B1B1B;
$contactFormHeading: #fff;
$contactFormNameEmailTextColor: #BFBFBF;
$contactFormInputBorderColor: 1px solid #929292; 
$contactFormInputTextColor: #FFFFFF;
$contactFormNameEmailInputBorderFocus: 1px solid #17d1ac;
$contactFormMessageTextColor: #4E4E4E;
$contactFormTextAreaTextColor: #EBEBEB;
$contactFormTextAreaPlaceHolderTextColor: #EBEBEB;